@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #0abd6c;
    --secondary-color: #20d885;
}

#root {
    width: 100%;
}

.spacer {
    height: 89px;
    width: 100%;
    margin-bottom: 30px;
}

/* List styling */

.list-info-container {
    background: rgb(255, 255, 255);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    margin: auto 20px;
    border-bottom: 2px solid transparent;
    text-align: center;
}

.list-info-container .under-text {
    color: rgb(145, 145, 145);
}
.list-info-container .list-title  {
    background: var(--primary-color);
    background: linear-gradient(to right, var(--primary-color) 50%, #44ffab 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Icons */

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-container {
    width: clamp(100px, 20%, 200px);
    padding: 15px;
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color:rgb(180, 180, 180);
    font-size: 16px;
    transition: all .2s ease;
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.button-container:hover {
    transform: scale(1.2);
    color: black;
}
.button-container:active {
    transform: scale(1);
}

.button-container-text {
    margin-top: 5px;
    white-space: nowrap; /* Forhindre at teksten går over to linjer */
    overflow: hidden; /* Skjul eventuell tekst som går utenfor konteineren */
    text-overflow: ellipsis; /* Vis "..." hvis teksten går utenfor konteineren */
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.checkmark {
    cursor: pointer;
    user-select: none;
}

.icons {
    cursor: pointer;
    user-select: none;
    transition: transform .2s ease-in-out;
}

.icons:hover {
    transform: scale(1.2);
}

.edit-profile, 
.save-profile {
    cursor: pointer;
    user-select: none;
    transition: transform .2s ease-in-out;
    font-size: 35px;
    height: 100%;

}

.edit-profile:hover, 
.save-profile:hover {
    transform: scale(1.2);
}

#idea-icon {
    font-size: 50px;
    color: rgb(223, 223, 223);
    margin-right: 40px;
}

.todo-form-icon {
    font-size: 80px;
    cursor: pointer;
    user-select: none;
    transition: transform .2s ease-in-out;
    display: block;
    -webkit-tap-highlight-color: transparent;
    
}

.todo-form-icon:hover {
    transform: scale(1.2);
}

.todo-form-icon.add {
    color: var(--primary-color)6C;
}

.todo-form-icon.remove {
    color: rgb(255, 0, 0);
}

.add-icon-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.profile-icon {
    font-size: 50px;
    user-select: none;
    text-align: center;
    width: 100%;
    background-color: rgb(248, 245, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid rgba(216, 216, 216, 0.396);
}

/* Button Styling */
.button {
    width: 250px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

/* About */ /* Profile */

.headline {
    font-size: 25px;
    font-weight: 600;
}

.bold-text {
    font-weight: 700;
}

.container.about {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px 40px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 5px;
    border-radius: 10px;
    position: relative;
    border-bottom: 2px solid rgb(0, 255, 81);
}

.container.profile {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 5px;
    border-radius: 10px;
    position: relative;
    border-bottom: 2px solid rgb(0, 255, 81);
    transition: height 0.5s ease;
    height: 200px;
    overflow: hidden;
    background-color: white;
}

.container.profile.expanded {
    height: 275px;
}

.container.profile input {
    padding-block: 0;
    padding-inline: 0;
}

.delete-user-container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 5px;
    border-radius: 10px;
    position: relative;
    border-bottom: 2px solid rgb(255, 0, 0);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-user-container button {
    padding: 5px 20px;
    margin: 10px 10px 0 5px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.profile-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.container.about {
    display: flex;
    align-items: center;
}

/* Navbar */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--primary-color);
    border-bottom: 2px solid rgb(220, 220, 220);
    z-index: 2000;
}

.navbar-header {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.navbar-header .profile-name a {
    color: white;
    text-decoration: none;
}

.navbar-header .profile-link {
    justify-self: center;
}

.navbar-header .logo {
    justify-self: flex-end;
}

@media screen and (max-width: 500px) { 
    .navbar-header {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .navbar-header .logo,
    .navbar-header .navbar-ham,
    .navbar-header .profile-link {
        justify-self: center;
    }

    .spacer {
        height: 183px;
    }
}

.navbar .logo a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar .logo span {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1.5px;
}

/* SIDEBAR CSS */

.nav-menu {
    background: var(--primary-color);
    width: clamp(300px, 50%, 400px);
    position: fixed;
    height: 100%;
    z-index: 1000;
}

.overlay-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 500;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: start;
    width: 75%;
    margin: 40px auto;
}

.sidebar-flex-container {
    display: flex;
    width: 100%;
    max-width: 300px;
    align-items: center;
    gap: 20px;
    transition: .2s;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.sidebar-flex-container.active {
    background-color: #ffffff4b;
    color: white;
}

.sidebar-flex-container:hover {
    background-color: #ffffff4b;
    color: white;
}

.sidebar-flex-container .sidebar-icons {
    font-size: 40px;
    color: white;
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

/* .navbar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}

.navbar-ul li {
    margin-left: 0;
    font-size: 25px;
}

.navbar-ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-ul a.active {
    text-decoration: underline;
}

.sidebar-icons {
    margin-right: 5px;
    vertical-align: -4px;
    font-size: 25px;
} */

/* TODO */

.todos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 50px 0;
}

.single-todo-container {
    background: rgb(255, 255, 255);
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    position: relative;
    border-bottom: 2px solid transparent;
}

#close {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 10px;
    right: 10px;
}

.single-todo-container .date {
    color: rgb(197, 197, 197);
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin: 10px 0;
}

.single-todo-container.todo-active {
    border-bottom: 2px solid var(--primary-color);
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Todo/Login/Register FORMS */ 

.login-maskott-img {
    width: clamp(100px, 40%, 200px);
    margin: auto;
}

.fancy-form {
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 100px auto;
    width: clamp(300px, 60%, 800px);
    gap: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fancy-form-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-color)

}

.fancy-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.fancy-form input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(136, 136, 136);
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    transition: 300ms ease;
    border-radius: 5px;
}

.fancy-form input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.fancy-form input:hover {
    border: 1px solid var(--primary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.fancy-form label {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50%;
    left: 10px;
    padding: 0 5px;
    transition: 300ms ease;
    pointer-events: none;
    font-size: 16px;
}

.fancy-input-container input:focus + label, 
.fancy-input-container input:valid + label {
    transform: translateY(-100%);
    color: var(--primary-color);
    font-size: 14px;
    background-color: white;
}

.fancy-form button {
    width: 100%;
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: var(--secondary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    cursor: pointer;
    outline: none;
    transition: box-shadow .4s ease;
}

.fancy-form button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 10px;
    background: #0eb368;
}

.fancy-form button:focus {
    border: 2px solid black;
}

.login-container {
    width: clamp(25%, 500px, 90%);
    margin: auto;
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

form.add-todo-form,
form.register-form,
form.login-form {
    width: clamp(50%, 400px, 90%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form.add-todo-form input,
form.add-todo-form textarea,
form.register-form input,
form.login-form input {
    padding: 15px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 2px;
}

form.add-todo-form input:hover,
form.add-todo-form textarea:hover,
form.register-form input:hover,
form.login-form input:hover {
background-color: rgb(224, 224, 224);
}

form.add-todo-form label,
form.register-form label,
form.login-form label {
    margin-top: 10px;
    color:rgb(70, 70, 70)
}

form.add-todo-form button,
form.register-form button,
form.login-form button {
    width: clamp(100%, 100%, 400px);
    margin: 20px auto;
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: var(--secondary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    cursor: pointer;
    outline: none;
    transition: box-shadow .4s ease;
}

form.add-todo-form button:hover,
form.register-form button:hover,
form.login-form button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 10px;
    background: #0eb368;
}

form.add-todo-form button:focus,
form.register-form button:focus,
form.login-form button:focus {
    border: 2px solid black;
} 

form.add-todo-form label:nth-of-type(2) {
    margin-top: 20px;
}

/* Error Page */
.errorpage {
    width: clamp(50%, 90%, 900px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.notfound-grid {
    display: grid;
    grid-template-rows: auto 1fr;
}
