@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

#root {
    width: 100%;
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.checkmark {
    cursor: pointer;
    user-select: none;
}

.icons {
    cursor: pointer;
    user-select: none;
    transition: transform .2s ease-in-out;
}

.icons:hover {
    transform: scale(1.2);
}

.edit-profile, 
.save-profile {
    cursor: pointer;
    user-select: none;
    transition: transform .2s ease-in-out;
    font-size: 35px;
    height: 100%;

}

.edit-profile:hover, 
.save-profile:hover {
    transform: scale(1.2);
}

#idea-icon {
    font-size: 50px;
    color: rgb(223, 223, 223);
    margin-right: 40px;
}

.todo-form-icon {
    font-size: 80px;
    cursor: pointer;
    user-select: none;
    transition: transform .2s ease-in-out;
    display: block;
    -webkit-tap-highlight-color: transparent;
    
}

.todo-form-icon:hover {
    transform: scale(1.2);
}

.todo-form-icon.add {
    color: rgb(0, 255, 81);
}

.todo-form-icon.remove {
    color: rgb(255, 0, 0);
}

.add-icon-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.profile-icon {
    font-size: 50px;
    user-select: none;
    text-align: center;
    width: 100%;
    background-color: rgb(248, 245, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid rgba(216, 216, 216, 0.396);
}

/* About */ /* Profile */

.bold-text {
    font-weight: 700;
}

.container.about {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px 40px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 5px;
    border-radius: 10px;
    position: relative;
    border-bottom: 2px solid rgb(0, 255, 81);
}

.container.profile {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 5px;
    border-radius: 10px;
    position: relative;
    border-bottom: 2px solid rgb(0, 255, 81);
    transition: height 0.5s ease;
    height: 200px;
    overflow: hidden;
    background-color: white;
}

.container.profile.expanded {
    height: 275px;
}

.container.profile input {
    padding-block: 0;
    padding-inline: 0;
}

.delete-user-container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 5px;
    border-radius: 10px;
    position: relative;
    border-bottom: 2px solid rgb(255, 0, 0);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-user-container button {
    padding: 5px 20px;
    margin: 10px 10px 0 5px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.profile-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.container.about {
    display: flex;
    align-items: center;
}

/* Navbar */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(245, 245, 245);
    border-bottom: 2px solid rgb(220, 220, 220);
    z-index: 2000;
}

.navbar-header {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar .logo span {
    color: red;
    font-weight: 700;
    letter-spacing: 1.5px;
}

/* SIDEBAR CSS */

.nav-menu {
    background: rgb(245, 245, 245);
    width: 50%;
    position: fixed;
    height: 100%;
    z-index: 1000;
}

.overlay-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 500;
}

.navbar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}

.navbar-ul li {
    margin-left: 0;
    font-size: 25px;
}

.navbar-ul a {
    text-decoration: none;
    color: black;
}

.navbar-ul a.active {
    text-decoration: underline;
}

.hamburger-menu {
    user-select: none;
    cursor: pointer;
}

.sidebar-icons {
    margin-right: 5px;
    vertical-align: -4px;
    font-size: 25px;
}

/* TODO */

.todos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 50px 0;
}

.single-todo-container {
    background: rgb(255, 255, 255);
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    position: relative;
    border-bottom: 2px solid transparent;
}

#close {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 10px;
    right: 10px;
}

.single-todo-container .date {
    color: rgb(197, 197, 197);
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin: 10px 0;
}

.single-todo-container.todo-active {
    border-bottom: 2px solid rgb(0, 255, 81);
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Add Todo Form */ 

form.add-todo-form,
form.register-form,
form.login-form {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form.add-todo-form button,
form.register-form button,
form.login-form button {
    width: 50%;
    margin: 20px auto;
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(57, 57, 57);
    background: rgb(0, 255, 81);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    cursor: pointer;
    outline: none;
    transition: box-shadow .4s ease;
}

form.add-todo-form button:hover,
form.register-form button:hover,
form.login-form button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 10px;
}

form.add-todo-form button:focus,
form.register-form button:focus,
form.login-form button:focus {
    outline: 2px solid black;
} 

form.add-todo-form label:nth-of-type(2) {
    margin-top: 20px;
}